html,
body {
    padding: 0;
    margin: 0;
    font-family: Cardo, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #14181e !important;
    @media screen {
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}

@keyframes openModal {
    0% {
        height: 1%;
    }
    100% {
        height: 100%;
    }
}

.projectModal {
    position: relative;
    animation: openModal 0.5s ease-in;
    transition: height 0.5s ease-in;
}

.prevImage {
    position: absolute;
    left: -300px;
    overflow: hidden;
}

.currentImage {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.nextImage {
    position: absolute;
    left: 300px;
    overflow: hidden;
}

.simplebar-content {
    width: 100%;
    height: 100%;
}

.simplebar-track.simplebar-vertical {
    width: 0.5rem;
    background-color: #1b232e;
    border-radius: 1rem;
}

.simplebar-scrollbar:before {
    background-color: #fff !important;
}

/* .ltoRScroll div[data-scroll='in'] {
    margin-left: 30%;
}

.rtoLScroll div[data-scroll='in'] {
    margin-left: -30%;
} */
